#Q1. Write a program to accept percentage from the user and display the grade according to the following criteria:
   above 90=A : >80 and <=90 =B : >=60 and <=80 =C: below 60= D

#Ans1.

In [2]:
marks = int(input("The marks obtained are "))

if marks>90:
    print("Grade = A")
elif marks>80 and marks<=90:
    print("Grade = B")
elif marks>=60 and makrs<=80:
    print("Grade = C")
elif marks<60:
    print("Grade = D")

The marks obtained are  55

Grade = D

#Q2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria :
15% > 100000 : 10% >50000 and <=100000 : 5%<=50000

#Ans2.

In [3]:
price_of_bike = int(input("The price of bike is "))

if price_of_bike>100000:
    print(f"The tax on bike is {price_of_bike*0.15}")
elif price_of_bike>50000 and price_of_bike<=100000:
    print(f"The tax on bike is {price_of_bike*0.1}")
elif  price_of_bike<=50000:
    print(f"The tax on bike is {price_of_bike*0.05}")

The price of bike is  25000

The tax on bike is 1250.0

#Q3.  Accept any city from the user and display monuments of that city.
Delhi - Red fort : Agra- Taj Mahal : Jaipur- Jal Mahal

#Ans3.

In [1]:
city_name = str(input("The name of city is "))

if city_name=="Delhi":
    print("Monument in the city is Red Fort")
elif city_name=="Agra":
    print("Monument in the city is Taj Mahal")
elif city_name=="Jaipur":
     print("Monument in the city is Jal Mahal")

The name of city is  Agra

Monument in the city is Taj Mahal

#Q4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

#Ans4.

In [8]:
number =100

while number>=10:
    print(number)
    number=number/3

100
33.333333333333336
11.111111111111112

#Q5. Why and when to use while loop in pyhton. Give a detailed description with the example.

#Ans5.  Python while loop is used to run a block code until a certain condition is met. Here, A while loop evaluates the condition. If the condition evaluates to True , the code inside the while loop is executed.
Example :

In [2]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

#Q6. Use nested while loop to print 3 different patterns.

#Ans6.

In [3]:
n = int(input('Enter number of rows : '))

i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows :  4

*
* *
* * *
* * * *

In [4]:
n = int(input('Enter number of rows : '))

i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows :  3

* * *
* *
*

In [5]:
n = int(input('Enter number of rows : '))

k = 1
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("{:3d}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

Enter number of rows :  3

  1
  2   3
  4   5   6

#Q7. Reverse a while loop to display numbers from 10 to 1.

#Ans7.

In [6]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

# Thank you!!!!!!