#Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.
[("Sachin Tendulkar", 34357), ("Ricky Ponting", 27483), ("Jack Kallis", 25534), ("Virat Kohli",24936)]

#Ans1.  below

In [77]:
l5= [("Sachin Tendulkar", 34357), ("Ricky Ponting", 27483), ("Jack Kallis", 25534), ("Virat Kohli",24936)]

In [79]:
l5.sort(key = lambda x: x[1])

In [80]:
l5

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

#Q2. Write a python program to find the squares of all the numbers in the given list of integers using lambda and map functions.
[1,2,3,4,5,6,7,8,9,10]

#Ans2. below

In [3]:
l= [1,2,3,4,5,6,7,8,9,10]

In [6]:
list(map(lambda x: x**2, l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#Q3. Writa a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions.
Given string= [1,2,3,4,5,6,7,8,9,10]

#Ans3.

In [7]:
l1=[1,2,3,4,5,6,7,8,9,10]

In [52]:
list(map(str, l1))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

#Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

#Ans4.

In [53]:
l2=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [55]:
from functools import reduce

In [56]:
reduce(lambda x,y : x*y, l)

3628800

#Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
l=[2,3,6,9,27,60,90,120,55,46]

#Ans5.

In [57]:
l3=[2,3,6,9,27,60,90,120,55,46]

In [70]:
list(filter(lambda x : x%2==0 and x%3==0, l3))

[6, 60, 90, 120]

#Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
["python", "php", "aba", "radar", "level"]

#Ans6.

In [71]:
l4= ["python", "php", "aba", "radar", "level"]

In [73]:
list(filter(lambda x: (x == "".join(reversed(x))), l4))

['php', 'aba', 'radar', 'level']

# Thank You!!!!!!!!!!!!