#Q1.What are the characterstics of the tuples? Is tuple immutables?

#Ans1. A tuple is collection of objects which is ordered. Tupleas are immutable.

#---------------------------

#Q2. What are the two tuple methods in python? Give an example of each method . Give a reason why tuples have only two in-built methods as compared to list.

#Ans2. The two tuple methods are count and index and exapmles are below:

In [2]:
t1=(13,18,11,16,18,14)
print(t1.index(18))

1

In [4]:
t1.count(11)

1

#---------------------------------------------

#Q3.Whcih collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicate from the given list:
list=[1,1,1,2,1,3,1,4,2,1,2,2,2,3,2,4,3,1,3,2,3,3,3,4,4,1,4,2,4,3,4,4]

#Ans3. Sets do not allow duplciate items in python.

In [5]:
list=[1,1,1,2,1,3,1,4,2,1,2,2,2,3,2,4,3,1,3,2,3,3,3,4,4,1,4,2,4,3,4,4]

In [11]:
list= set(list)

In [12]:
print("list without duplicates", list)

list without duplicates {1, 2, 3, 4}

#-----------------------------------

#Q4.Explain the difference between the union() and update() methods for a set. Give an example of each method.

#Ans.4  The first one adds all missing elements to the set on which it is called and returns none , while the latter creates and returns a new set. Examples are below:

In [17]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8, 9}

C= A.union(B)

In [32]:
C

{1, 2, 3, 4, 5, 'a', 'b'}

In [34]:
D = {'red', 'green', 'blue'}
E = {'yellow', 'red', 'orange'}

D.update(E)
print(D)

{'red', 'orange', 'blue', 'yellow', 'green'}

#-------------------------------------

#Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

#Ans5. The dictionary is an unordered collection that contains key:value pairs separated by commas inside curly brackets. Example of dictionary :

In [37]:
d= {"Fruit":["Mango","Banana"], "Color":["Blue", "Red"]}

In [38]:
d

{'Fruit': ['Mango', 'Banana'], 'Color': ['Blue', 'Red']}

#---------------------------------------

#Q6. Can we create a nested dictionary? if so, please give an example by creating a simple onle-level nested dictionary.

#Ans6. Yes we can create a nested dictionary. Example :

In [40]:
myfamily = {"child1" : {"name" : "Emil","year" : 2004},"child2" : {"name" : "Tobias","year" : 2007},"child3" : {"name" : "Linus","year" : 2011}}

In [41]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

#----------------------------------

#Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list["Python", "Machine Learning", "Deep Learning"]

dict1= {"language":"Python", "course":"Data Science Masters"}

In [6]:
d={"language":"Python", "course":"Data Science Masters"}
x=d.setdefault("Topics",["Python", "Machine Learning", "Deep Learning"])
print(d)

{'language': 'Python', 'course': 'Data Science Masters', 'Topics': ['Python', 'Machine Learning', 'Deep Learning']}

In [48]:
d.setdefault("course", "Machine learning")

'Data Science Masters'

#---------------------------------

#Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.
dict1= {"sport":"cricket,"teams":["India,"Australia","England","South Africa","Sri Lanka","New Zealand"]}

#Ans8. The main view objects of dictionary in python are keys, values and items.

In [56]:
d= {"sport":"cricket","teams":["India","Australia","England","South Africa","Sri Lanka","New Zealand"]}

In [3]:
d.keys()

dict_keys(['language', 'course'])

In [4]:
d.values()

dict_values(['Python', 'Data Science Masters'])

In [5]:
d.items()

dict_items([('language', 'Python'), ('course', 'Data Science Masters')])

#Thank you!!!!