In [ ]:
a=1

In [ ]:
a

In [1]:
print(a)

NameError: name 'a' is not defined

In [2]:
a=5
print(a)

5

In [3]:
int(123)

123

In [4]:
type(int(123))

int

In [5]:
type(123)

int

In [6]:
type(abcd)

NameError: name 'abcd' is not defined

In [7]:
type(1.5)

float

In [8]:
price = input(1000)

1000 1000

In [68]:
price = int(input("The price is "))
if price<=1000:
    print("You are lucky")

The price is  500

You are lucky

In [37]:
n=7

for i in range(0,n):
    for j in range (0,i+1):
        print ("*", end="")
    print ("\r")

*
**
***
****
*****
******
*******

In [65]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*", end="")

****************************

In [66]:
lst(1,2,3,mango,kela)

NameError: name 'lst' is not defined

In [67]:
type(lst)

NameError: name 'lst' is not defined

In [69]:
lst(1,2,3,4,a,b,c,d)
for i in lst (

SyntaxError: incomplete input (1268902882.py, line 5)

In [1]:
name= str(input("my name is "))
if name==Pranjal:
    print("You are awesome")

my name is  Pranjal

NameError: name 'Pranjal' is not defined

#Data science course

In [6]:
a=10

In [5]:
a

10

In [9]:
Name = "Pranjal"

In [10]:
Name

'Pranjal'

In [11]:
1+1

2

In [12]:
5/2

2.5

In [13]:
5//2

2

In [15]:
##Hello Guys
a=20
a

20

"""
hihdsjljdvjhbsafjbs n/ bcskhbaskuhdc
shabcfkhbsakc
hsucjkhasjhsa
"""

#Hello 

##Hello 2

###Hello 3

a=10
a

In [16]:
a=10
a

10

In [17]:
bool (0)

False

In [18]:
bool (1)

True

In [19]:
bool (2)

True

### Numbers

In [20]:
1+3

4

In [23]:
print(1+3)

4

In [24]:
print ("my name is pranjal and i am 22")

my name is pranjal and i am 22

In [25]:
print ("hello world")

hello world

In [29]:
print ("My name is pranjal \n I am 22 \n I love trading")

My name is pranjal
 I am 22
 I love trading

In [30]:
name= "Pranjal"
company= "Arcgate"

In [31]:
name

'Pranjal'

In [32]:
company

'Arcgate'

In [33]:
name= "sumit"

name

In [34]:
name

'sumit'

In [35]:
type('')

str

In [36]:
type(number)

NameError: name 'number' is not defined

In [37]:
number = 10

In [38]:
type(number)

int

In [39]:
1+2j

(1+2j)

In [40]:
type(1+2j)

complex

In [41]:
1a

SyntaxError: invalid decimal literal (3233142308.py, line 1)

# hello

In [47]:
company = "ineuron"
Company = "arcgate"

In [44]:
print(company)

ineuron

In [48]:
print(Company)

arcgate

In [51]:
True and False

False

In [52]:
True or False

True

fruits= lst(,1,2,3,4)

In [53]:
print(fruits)

NameError: name 'fruits' is not defined

not True

In [55]:
not True

False

hx

In [56]:
type(not True)

bool

In [57]:
a=1
if bool(a)==True:
    print("True")

True

In [58]:
bool(a)

True

In [59]:
a=0

In [60]:
bool(a)

False

In [61]:
int(1234765)
int(1234765)

1234765

In [62]:
lst (abcd)
lst2(abcd)

NameError: name 'lst' is not defined

In [67]:
list=(1,2,3,4)

In [68]:
"1" + "1"

'11'

In [69]:
"1" * 100

'1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111'

In [70]:
int"1" + int "1"

SyntaxError: invalid syntax (1265913200.py, line 1)

In [71]:
1+1

2

In [72]:
int("123")

123

In [73]:
int("abcd")

ValueError: invalid literal for int() with base 10: 'abcd'

In [74]:
int(4)

4

In [76]:
1*1

1

In [77]:
"1" + "1"

'11'

In [78]:
"1" * "1"

TypeError: can't multiply sequence by non-int of type 'str'

In [80]:
type(a)

int

In [81]:
bool(-1)

True

In [82]:
bool(100)

True

In [83]:
type(bool(-2))

bool

In [85]:
print ("my name is love")

my name is love

In [86]:
1/False

ZeroDivisionError: division by zero

In [87]:
num1=23
num2=44
num2=2+3j
num1=num2.imag
num2-num1

(-1+3j)

In [89]:
"pwskills" + "1"

'pwskills1'

In [90]:
pw-skills

NameError: name 'pw' is not defined

In [91]:
Num_100

NameError: name 'Num_100' is not defined

In [92]:
_pw_skills

NameError: name '_pw_skills' is not defined

In [96]:
Name ='pwskills'
Name[0] ='P'

TypeError: 'str' object does not support item assignment

In [97]:
'pwskills'.upper().lower().isalnum()

True

In [7]:
name= str(input("My name is "))
if name=="Pranjal":
    print("You are awesome")

My name is  Pranjal

You are awesome

In [12]:
age= int(input("My age is "))
if age>=18:
    print("You are eligible to vote")
else: print("You are child")

My age is  18

You are eligible to vote

In [13]:
age= int(input("My age is "))
if age>=18:
    print("You are eligible to vote")
else: print("You are child")

My age is  15

You are child

In [26]:
price= int(input("The price is "))
if price>=3000:
    print("You got 300 off")
if price<3000:
    print("you got 200 off")

The price is  2300

you got 200 off

In [27]:
price= int(input("The price is "))
if price>=3000:
    print("You got 300 off")
if price<3000:
    print("you got 200 off")

The price is  4000

You got 300 off

In [29]:
age=32
print("My gae is ",age)

My gae is  32

In [33]:
print(f"My age is: {age}")

My age is: 32

In [36]:
age=32
name = "Pranjal"
print (f"my name is {name} and age is {age}")

my name is Pranjal and age is 32

In [37]:
age=32
name = "Pranjal"
print ("my name is {} and age is {}".format(name,age))

my name is Pranjal and age is 32

In [38]:
name="Pranjal Choudhary"
age=22
degree= "B.com"
print(f"My age is {age} and i have completed my degree of {degree} with the name of {name}")

My age is 22 and i have completed my degree of B.com with the name of Pranjal Choudhary

In [42]:
price= int(input("The price is "))
if price>=3000:
    print("You got 300 off")
if price<3000 and price>=1000: 
    print("you got 200 off")

The price is  2000

you got 200 off

In [47]:
price= int(input("The price is "))
if price>=3000:
    print("You got 300 off")
else: print("fuck off")

The price is  2999

fuck off

In [48]:
price= int(input("The price is "))
if price>=3000:
    print("You got 300 off")
else: print("fuck off")

The price is  3100

You got 300 off

In [60]:
product_price= int(input("Enter the price "))
if product_price>3000:
    if product_price==4000:
        print("You got a goa trip")
    print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2500:
        print("Congo you got an additional gift")
    print(f"The price of the product is {product_price*0.7}")
else:     
    print(f"The price of the product is {product_price*0.6}")

Enter the price  2500

Congo you got an additional gift
The price of the product is 1750.0

In [56]:
product_price= int(input("Enter the price "))
if product_price>3000:
    if product_price==4000:
        print("You got a goa trip")
    print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2500:
        print("Congo you got an additional gift")
    print(f"The price of the product is {product_price*0.7}")
else:     
    print(f"The price of the product is {product_price*0.6}")

Enter the price  4000

You got a goa trip
The price of the product is 3200.0

In [59]:
##single statement
val= int(input("enter the number"))
if(val<=999): print("value is less than equal to 999")

enter the number 500

value is less than equal to 999

## loops statements
1.while loop

2.for loop

3.nested loop

4.loop control(break,continue,pass)

In [77]:
#while loop
joining_age=22
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("Its time for retirement")

22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [65]:
#while loop
joining_age=22
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("Its time for retirement")

22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [75]:
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("put more money in bank")

1000
900
800
700
600
500
400
300
200
100
put more money in bank

"""
for loop
""""

In [79]:
name="pranjal"

In [80]:
print(name)

pranjal

In [81]:
lst=["krish",1,2,3,"apple","banana"]

In [82]:
type(lst)

list

In [83]:
lst[0]

'krish'

In [84]:
lst[2]

2

In [85]:
lst[5]

'banana'

In [86]:
lst

['krish', 1, 2, 3, 'apple', 'banana']

In [89]:
for x in lst:
    print(x)

krish
1
2
3
apple
banana

In [ ]:
lst=["krish",1,2,3,"apple","banana"]

In [29]:
while x in lst:
    print(x)

NameError: name 'lst' is not defined

In [90]:
lst=["apple","banana","mango","cherry","apple"]

In [91]:
for x in lst:
    print(x)

apple
banana
mango
cherry
apple

In [96]:
for x in lst:
    print(x)
    if x=="cherry":
        print("the fruit is cherry")
        break

apple
banana
mango
cherry
the fruit is cherry

In [97]:
for x in lst:
    print(x)
    if x=="mango":
        print("the fruit is mango")
        break

apple
banana
mango
the fruit is mango

In [102]:
for x in lst:
    print(x,end="")
    if x=="cherry":
        print("the fruit is cherry")
        break

applebananamangocherrythe fruit is cherry

###nested loops

In [105]:
n=7
for n in range(1,6):
        print(n)

1
2
3
4
5

In [108]:
for x in range(1,9):
    print(x)

1
2
3
4
5
6
7
8

In [110]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [114]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*", end="")

****************************

In [116]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*", end="\n")

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [120]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*", end="")
    print("\r")

*
**
***
****
*****
******
*******

In [123]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*", end="")
    print("\r")

*
**
***
****
*****
******
*******

In [124]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*", end="")
    print("\n")

*

**

***

****

*****

******

*******

In [134]:
fruits_list=["mango", "banana", "cherry", "apple", "grapes",]

In [141]:
for i in fruits_list:
    if i=="apple":
        print("the fruit is apple")
        break
    print(i)

mango
banana
cherry
the fruit is apple

In [142]:
for i in fruits_list:
    if i=="apple":
        print("the fruit is apple")
        continue
    print(i)

mango
banana
cherry
the fruit is apple
grapes

In [143]:
for i in fruits_list:
    if i=="apple":
        print("the fruit is apple")
        pass
    print(i)

mango
banana
cherry
the fruit is apple
apple
grapes

In [144]:
True/False

ZeroDivisionError: division by zero

In [149]:
"pwskills" + str(1)

'pwskills1'

In [1]:
name= str(input("My name is "))
if name=="Rajat":
    print(Mera mooh me le le")

My name is  bvcxmjkds

In [11]:
n= int(input("Enter the number of rows of pyrmind you want: "))
stars=int(2*n-1)

k=1
for i in range(1,n+1):
    for j in range(stars,k,-2):
        print("",end=" ")
    for j in range(k):
              print("*",end="")
                    k+=2
                    print()

IndentationError: unexpected indent (3810242851.py, line 10)

In [3]:
h=int(input("enter diamonds height: "))
for x in range(h):
    print(""*(h-x), "*"*(2*x+1))

enter diamonds height:  5

 *
 ***
 *****
 *******
 *********

In [19]:
rows= int(input("enter the number of rows: "))

for i in range(rows,1,-1):
    for space in range(0,rows-i):
        print(" ",end=" ")
    for j in range(i,2*i-1):
        print("*", end="")
    for j in range(1,i-1):
        print("*", end=" ")
    print()

enter the number of rows:  5

***** * *
  **** *
    ***
      *

In [26]:
rows= int(input("enter the number of rows: "))

k=0

for i in range(1,rows+1):
    for space in range(1,(rows-i)+2):
        print(end=" ")
        
    while k!=(1*i-1):
        print("*", end=" ")
        k+=1
        
    k=0
    print()

enter the number of rows:  7

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

In [27]:
rows= int(input("enter the number of rows: "))

k=0

for i in range(1,rows+1):
    for space in range(1,(rows-i)+2):
        print(end=" ")
        
    while k!=(2*i-1):
        print("*", end=" ")
        k+=1
        
    k=0
    print()

enter the number of rows:  7

       *
      * * *
     * * * * *
    * * * * * * *
   * * * * * * * * *
  * * * * * * * * * * *
 * * * * * * * * * * * * *

#Thank You!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!